<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>
<%= javascript_include_tag 'avatar' %> <!-- Подключение JavaScript-файла -->


<div class="avatar-upload">
  <form id="avatar-form">
    <input
      type="file"
      name="avatar"
      id="avatar-input"
      accept="image/*"
      onchange="handleAvatarChange(event)"
      />
    <button type="submit" onclick="handleAvatarSubmit(event)">
      Upload Photo
    </button>
  </form>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: { multipart: true }) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>


      <br>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
