<div class="container mt-5 pt-5" style="max-width: 600px;">
  <div class="card mb-3">
    <div class="card-body text-center">
      <div class="d-flex justify-content-center mb-3">
        <img src="https://www.gravatar.com/avatar/placeholder" alt="Avatar" class="rounded-circle" style="width: 150px; height: 150px;">
      </div>
      <h3 class="card-title"><%= @user.username %></h3>
      <p class="text-muted"><%= @user.email%></p>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-primary' %>
      <% else %>
        <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
        </div>

      <% end %>
      <% if current_user.admin? && !current_user == @user %>
        <%= link_to "Удалить аккаунт", @user, method: :delete %>
      <% end %>
      <div class="stats">
        <a href="<%= following_user_path(@user) %>">
          <strong class="stat"><%= @user.following.count %></strong> following
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong class="stat"><%= @user.followers.count %></strong> followers
        </a>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h4>Посты</h4>
    <% @user.posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.user.username, user_path(post.user), class: 'text-decoration-none text-primary' %></h5>
          <p class="card-text"><%= link_to post.content.truncate(350), post %></p>
          <p class="card-text text-muted">Лайков: <%= post.get_upvotes.size %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>