<%= gravatar_for @user %>
<%= @user.username %>
<br>
<%= @user.email %>

<% if current_user.admin? && !current_user != @user %>
  <%= link_to "delete", @user, method: :delete %>
<% end %>


<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong class="stat"><%= @user.following.count %></strong> following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong class="stat"><%= @user.followers.count %></strong> followers
  </a>
</div>

<%# provide(:title, @title) %>
<!--  <div class="row">-->
<!--    <div class="col-md-8">-->
<!--      <h3><%#= @title %></h3>-->
      <%# if @users.present? %>
<!--        <ul class="users follow">-->
          <%#= render @users %>
<!--        </ul>-->
      <%# end %>
<!--    </div>-->
<!--  </div>-->

<% if current_user.id != @user.id %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
<br>
<br>
Посты пользователя:
<br>
<br>

<% @user.posts.each do |post| %>
  <%= link_to post.content.truncate(150), post %>
  <a href="/posts/<%= post.id %>"></a>
  <hr>
<% end %>

