<% if user_signed_in? %>
  <div class="mb-4">
    <div class="card">
      <div class="card-body">
        <%= form_for @post, html: { class: 'needs-validation', novalidate: true } do |f| %>
          <div class="mb-3">
            <%= f.text_area :content, class: 'form-control', rows: 3, placeholder: 'Что у вас нового?' %>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">Символов: <span id="char-count">0</span></small>
            <%= f.submit 'Опубликовать', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
      document.addEventListener('DOMContentLoaded', () => {
          const textArea = document.querySelector('textarea');
          const charCount = document.getElementById('char-count');
          textArea.addEventListener('input', () => {
              charCount.textContent = textArea.value.length;
          });
      });
  </script>
<% end %>

<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= post.user.username %></h5>
      <%= link_to post.content.truncate(350), post, class: 'no-underline'%>
      <p class="card-text text-muted">Лайков: <%= post.get_upvotes.size %></p>
    </div>
  </div>
<% end %>
